<h1>Editing word translation</h1>

<%= render "form", word_translation: @word_translation %>

<br>

<div>
  <%= link_to "Show this word translation", @word_translation %> |
  <%= link_to "Back to word translations", word_translations_path %>
</div>
