<p style="color: green"><%= notice %></p>

<h1>Word translations</h1>

<div id="word_translations">
  <% @word_translations.each do |word_translation| %>
    <%= render word_translation %>
    <p>
      <%= link_to "Show this word translation", word_translation %>
    </p>
  <% end %>
</div>

<%= link_to "New word translation", new_word_translation_path %>
