<h1>Editing word class</h1>

<%= render "form", word_class: @word_class %>

<br>

<div>
  <%= link_to "Show this word class", @word_class %> |
  <%= link_to "Back to word classes", word_classes_path %>
</div>
