<p style="color: green"><%= notice %></p>

<h1>Expressions</h1>

<div id="expressions">
  <% @expression_filter = @expressions.uniq{|expression| expression.phrase_id} %>
  <% @expression_filter.each do |expression| %>
    <%= render expression %>
    <p>
    </p>
  <% end %>
</div>

<%= link_to "New expression", new_expression_path %>
