console.log('Entered word_translation.js.erb')

var new_words = []
var new_words = <%= raw @new_word %>

if ( new_words.length > 0 && rendered == null){
    var rendered = []
    $('#word_translation').prepend('<label id="new-word-label">New Word Translations:<br></label>')
}
console.log('new_words.length: ' + new_words.length)

if ((rendered.every(elem => new_words.includes(elem)) == true) || (rendered.length > 0 && new_words.length > 0)){
    for (var i = 0 ; i < new_words.length ; i++){
        let existent = false
        for(var j = 0 ; j < rendered.length ; j++ ){
            if (rendered [j] == new_words[i]){
                existent = true
            }
        }
        if(existent == false){
            $('#word_translation').append("<%= j (render 'word_translation', object: @expression, as: 'expression') %>")
            $('.new-word').last().slideUp(0);
            $('.new-word').last().slideDown();
            rendered[j] = new_words[i]
            console.log('Rendered new word')
        }
    }
}

if (new_words.every(elem => rendered.includes(elem)) == true){
    for (var i = 0 ; i < rendered.length ; i++){
        let existent = false
        for(var j = 0 ; j < new_words.length ; j++ ){
            if (rendered [i] == new_words[j]){
                existent = true
            }
        }
        if (existent == false){
            $('.new-word').eq(i).slideUp(function() {$(this).remove();});
            rendered[i] = ''
            console.log('Removed new word')
        }
    }
}



console.log('rendered: ' + rendered)
console.log('new_words: ' + new_words)

