<h1>Editing phrase translation</h1>

<%= render "form", phrase_translation: @phrase_translation %>

<br>

<div>
  <%= link_to "Show this phrase translation", @phrase_translation %> |
  <%= link_to "Back to phrase translations", phrase_translations_path %>
</div>
