<div id="<%= dom_id word %>">
  <p>
    <strong class="h3">
      <%= word.name %>
    </strong>  
  </p>

  <% @translation_filter = @word_translations.where(word_id: word.id) %>

  <p>
    <strong>Translations:</strong>
    <% @translation_filter.each do |translation| %>
      
      <br>
      <%= translation.translation %>
      <%= link_to "Edit Translations", edit_word_translation_path(translation.id) %>
    <% end %>
  </p>

</div>
